

.formBody{
    color: #3e3e3e;
    padding: 2rem;
    border-radius: .5rem;
    background-color: lightblue;
    width: 40vw;
    margin: 5rem auto;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group{
    width: 70%;
}

.titleLogin{
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
}

.username, .password{
    font-size: .8rem;
}

