#accordionCancellation{
    max-width: 80vw;
    margin: 0 auto;
}

.card-header button{
    padding: 0;
    margin: 0;
}

.card-header p{
    font-weight: bold;
}

.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0.2rem transparent;
}