.topbar{
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: .5rem;
}

.textWelcome{
    color: white;
    margin-top: .3rem ;
}

.welcome{
    font-size: 1rem;
    margin: 0 auto;
    padding: 0;
}